.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
gitignore/
pm2.local.*
customer.*
googlecloud.json
googlepay.config.json
firebase.config.json
*.md
